{% extends 'base.html' %} {% block blog_detail %}

<div class="page-header">
    <h1 align="center">Our Blogs</h1>
</div>

<div class="container">
    <div class="container">

        {% autoescape off %}
        <div class="well well-lg" style="margin: 5% 5% 5% 5%">
            <div class="row" style="padding-left:2%;">

                <h2 id="{{ blog.id }}">{{ blog.title }}</h2>
                Share -
                <a href="https://www.facebook.com/sharer/sharer.php?u=#{{ request.uri }}" target="_blank"><i class="fa fa-facebook-square" style="font-size:20px;color:#4467b2"></i></a>
                <a href="http://www.twitter.com/share?url={{ request.uri }}"><i class="fa fa-twitter" style="font-size:20px;color:#1da1f2"></i></a>

            </div>
            <div class="row" style="padding-left:2%;">

                <h5>by - {{ blog.author }}
                    <small>
                             on - {{ blog.timestamp|timesince }} ago
                            </small>
                </h5>


            </div>
            <div class="row" style="padding-left:2%;">
                <div class="blog_text">{{ blog.content|safe }}</div>
            </div>




        </div>
        <hr> {% endautoescape %}
    </div>
</div>


{% endblock %}