{% extends 'base.html' %} {% block blog_list %}

<div class="page-header">
    <h1 align="center">Our Blogs</h1>
</div>
<div class="row" style="padding-right:5%;" align="right">Total Blogs - {{ blogs.count }}</div>
<div class="container">
    <div class="container">

        {% autoescape off %} {% for blog in blogs %}
        <div class="well well-lg" style="margin: 5% 5% 5% 5%">
            <div class="row" style="padding-left:2%;">

                <h2 id="{{ blog.id }}"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h2>


            </div>
            <div class="row" style="padding-left:2%;">

                <h5>by - {{ blog.author }}
                    <small>
                         on - {{ blog.timestamp|timesince }} ago
                        </small>
                </h5>



            </div>
            <div class="row" style="padding-left:2%;">
                <div class="blog_text">{{ blog.content|safe }}</div>
            </div>




        </div>
        <hr> {% endfor %} {% endautoescape %}
    </div>
</div>

{% endblock %}