<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <title>Template</title>
    <style>
      .banner{
        width: 100%;
        height: 50%;
      }
      /* @media only screen and (max-width:768px){
        .one{
          display: block;
        }
        .two{
          display:none
        }
        .three{
          display: block;
        }
      } */
      @media only screen and (max-width: 576px) {
        .power {
          font-size: 13px;
        }
        .logo {
          width: 70px;
        }
      }
    </style>
</head>
<body>
    <div style="font-family: 'Source Sans Pro', sans-serif;">
      <h3 class="one">
        Hey there, 
        Greetings from Software Incubator!
    </h3>
    <img src="https://res.cloudinary.com/educool/image/upload/v1662640258/bannerpng_t9v5af.png" title='' class="banner" style="width: 100%;
    height: 50%;" /></a>
        <!-- <h3 class="two">
          Hey there, 
          Greetings from Software Incubator!
      </h3> -->
        
        <!-- <img src="https://i.ibb.co/3yNJ5Pc/banner.png" alt="banner" class="banner"/> -->
        <!-- <img src="https://i.ibb.co/RbJGXLY/Poster.png" alt="Poster" class="poster"/> -->
        
        <h2 class="three">
            You have successfully registered for SDC-SI Recruitment Drive  2022.
        </h2>
        <p>

            The first stage of the selection procedure for the developers' domain will be a test of your logical reasoning and fundamental programming skills.<br/><br/>
            For the designers' domain, further information will be made available soon.<br/><br/>

            Kindly go through the following details for the test.<br/><br/>

            <b>Date: 15th September 2022<br/>
            Time: 4-6 PM<br/>
            Venue: CS/IT Block (3rd Floor)<br/>
            Syllabus: Aptitude, C/C++, HTML & CSS, SQL, OOPS.<br/><br/></b>

            Kindly ensure to check your emails regularly.<br/><br/>
            Follow us on Instagram for future updates. <a href="https://www.instagram.com/software.incubator">@software.incubator</a><br/><br/>

            Happy coding <b>&lt;/&gt;</b> <br/><br/>

            In case of query, contact: <br/>
            Kunal Mehrotra - <a href="tel:9119082208">9119082208</a> <br/>
            Mohit Singh - <a href="tel:9120615633">9120615633</a> <br/><br/>


            Regards!<br/>
            Software Incubator
        </p>



    </div>
    <div class="center" style="text-align: center">
        <div><img style="width: 120px;" src="https://i.imgur.com/uNFPU7T.png" /></div>
        <div style='font-family: "Open Sans", sans-serif;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 18px;'>
          <span class="SI"
            ><a href="http://silive.in" target="none"
              >Software Incubator</a
            ></span
          >
        </div>
        <div style ='color: black;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        margin-top: 10px;
        letter-spacing: 3px;
        font-size: 15px;'>Love.Peace.Code</div>
      </div>    
</body>
</html>