{% load static %}
<body style="margin:0% ;background: #fff; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; " >
    <div style="color:#323A42;">

        <div style="background: #007AF1;
            display:flex;
            align-items: center;
            height: 64px;
            padding-left: 1em;
            vertical-align: center;
            "
    
        >
            <h1 style="color: #fff; font-size: 1.8em;">Hello {{name}} 👋</h1>

        </div>
       
        <div style="
            padding: 0 1em;
        ">
                <h1 style="color: #007AF1;display:inline-block;">
                    Greetings from
                    Software Incubator
                    
                </h1>
            <div class="succes-message">
                <p>
                   {{content.text|safe}}
                </p>
            </div>
            <div style="line-height: 10%;">
                <div style="margin-top: 2em;">
                    <p style="
                    font-weight: bold;
                    color: #007AF1;
                    font-size: 1.5em;
                    ">
                        Workshop Timeline
                    </p>
                </div>
                <div style="display: flex;  align-items: center;">
                    <div class="date-text" style="display: flex; flex-direction: row; align-items: center;" >
                        
                            
                        <p style="padding-left: 0.5em;" >
                            <span style="font-size: 1em;">🗓</span>  30 April - 3 May
                        </p>

                    </div>
                </div>
            </div>
            <div >
                <div style="margin-top: 2em;" >
                    <p style="color: #007AF1; font-weight: bold; font-size: 1.5em;">
                       For More Information Contact
                    </p>
                </div>
                <div class="contact-details">
                    <div style="display: flex; align-items: center; flex-direction: row; line-height: 0;">
                        
                            
                        <p style="padding-left: 0.5em;">
                            📞  7607047039 (Ankit)
                        </p>
                    </div>
                    <div style="display: flex; align-items: center; flex-direction: row; line-height: 0;">
                        
                            
                        <p style="padding-left: 0.5em;">
                            📞  9650844842 (Ayush)
                        </p>
                    </div>
                   
                </div>
                <div class="visit-website" style="margin-top: 2em;">
                    <div>
                  
                    </div>
                    <a href="https://www.silive.in" target="_blank"  style=" text-decoration: none;  color: #fff;">
                        <div style=" background: #007AF1;
                        text-align: center;
                        width: fit-content;
                       border-radius: 40px; padding: 7px 14px; display: flex;flex-direction: row;align-items: center;" >

                     
                    <p style="margin:0px; padding-right: 0.5em;" >
                        
                            Visit our website

                            </p>
                        
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 8.5H2C1.725 8.5 1.5 8.275 1.5 8V2C1.5 1.725 1.725 1.5 2 1.5H4.5C4.775 1.5 5 1.275 5 1C5 0.725 4.775 0.5 4.5 0.5H1.5C0.945 0.5 0.5 0.95 0.5 1.5V8.5C0.5 9.05 0.95 9.5 1.5 9.5H8.5C9.05 9.5 9.5 9.05 9.5 8.5V5.5C9.5 5.225 9.275 5 9 5C8.725 5 8.5 5.225 8.5 5.5V8C8.5 8.275 8.275 8.5 8 8.5ZM6 1C6 1.275 6.225 1.5 6.5 1.5H7.795L3.23 6.065C3.035 6.26 3.035 6.575 3.23 6.77C3.425 6.965 3.74 6.965 3.935 6.77L8.5 2.205V3.5C8.5 3.775 8.725 4 9 4C9.275 4 9.5 3.775 9.5 3.5V1C9.5 0.725 9.275 0.5 9 0.5H6.5C6.225 0.5 6 0.725 6 1Z" fill="white"/>
                            </svg>
                            
                    
                </div>
                </a>
                </div>
            </div>
            <div class="regards" style=" display: flex; flex-direction: row; justify-content: space-between;align-items: center;">
                <p style="font-weight: 500;
                font-size: 15.8451px;
                line-height: 19px;
                margin-top: 1.5em;" >Regards, <br/> SDC-SI</p>
               
            </div>
            <img style="height: 25px;" src="https://www.silive.in/static/images/silogo_alumni.png" alt="logo">

            <!-- <div style="font-weight: 600;
            font-size: 22px;
            line-height: 27px;
            letter-spacing: 1.2px;            
            color: #323A42;
            margin-bottom: 0.5em;">
                REDEFINING LIMITATIONS
            </div> -->
        </div>
    </div>
</body>