/* Font Dir
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/
::selection {
    color: #fff;
    background: #424242;
}

/*.row {
    margin-right: 0px;
    margin-left: 0px;
    }*/
html {
    /* max-width: 100%; */
    overfl-x: hidden;
    height: 100%;
}

body {
    font-family: 'Karla', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 13px;
    letter-spacing: 0.4px;
    overflow-x: hidden;
}

p {
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.4px;
    font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.error {
    margin-top: -50px;
    margin-bottom: 49px;
}

/* ================================================================ TYPOGRAPHY ==================================================*/

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: lighter;
}

.regular {
    font-weight: normal;
}

.h-spacing {
    letter-spacing: 0.5px;
}

/*========================================================= Scroll Effect ============================================================*/
.content {
    height: 3000px;
}

.wrapper {
    position: fixed;
}

.wrapper .box {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 160%;
    color: #fff;
    position: absolute;

}

.wrapper .box:nth-of-type(2) {
    left: 100px;

}

.wrapper .box:nth-of-type(3) {
    left: 200px;

}

.wrapper .box:nth-of-type(4) {
    left: 300px;

}

.wrapper .box:nth-of-type(5) {
    left: 400px;

}

.wrapper .box:nth-of-type(6) {
    left: 500px;

}

/*=========================================================== Parallex ==================================================================*/
.container-logo img {
    display: block;
    width: 100%;
}

.container-logo {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 5%;
}

.scene {
    padding: 0;
    margin: 0;
}

.layer:nth-child(1) {
    opacity: 0.15;
}

.layer:nth-child(1) button {
    -webkit-transform: rotate(150deg);
}

.layer:nth-child(2) {
    opacity: 0.30;
}

.layer:nth-child(2) button {
    -webkit-transform: rotate(120deg);
}

.layer:nth-child(3) {
    opacity: 0.45;
}

.layer:nth-child(3) button {
    -webkit-transform: rotate(90deg);
}

.layer:nth-child(4) {
    opacity: 0.60;
}

.layer:nth-child(4) button {
    -webkit-transform: rotate(60deg);
}

.layer:nth-child(5) {
    opacity: 0.75;
}

.layer:nth-child(5) button {
    -webkit-transform: rotate(30deg);
}

.layer:nth-child(6) {
    opacity: 0.90;
}

.layer:nth-child(6) button {
}

/* Wrapper =============================================*/
.untitled {
    padding: 0px;
    margin: 0px;
}

#wrapper {
}

.section-head {
    background-color: #424242;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.section-head h1 {
    font-size: 25px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 10px;
    padding: 2px;
}

.section-head h6 {
    font-size: 10px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 4px;
    padding: 10px;
    margin-top: -22px;
}

/*Navigation =============================================*/
.navigation {
}

/*..................................................................................................................................*/
.navbar-header button {
    color: #3b95ed;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: none;
    text-transform: uppercase;
    background-color: rgba(59, 149, 237, 1); /*MOBILEVIEW: On Scroll Background Color Change i.e BLUE */
}

.navbar-custom .navbar-brand {
    font-weight: 400;
    letter-spacing: 1px;
}

/*.navbar-brand{
  padding: 12px;
  }*/
.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 30px; /* U N K N O W N */
    color: #000; /* U N K N O W N */
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff; /* On BLUE and On TRANSPARENT Text Color */
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: #3b95ed; /* On BLUE nav bar Text Onhover Color */
    background-color: transparent; /* On BLUE and On TRANSPARENT Onhover Background Color */
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent; /* Active Element Background Color */
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: #fff; /* Active Nav Tab background Color */
    color: #3b95ed;
}

.navbar-custom .nav li.active a:hover {
    color: #3b95ed; /* Active Nav Tab OnHover Text Color */
}

@media (min-width: 768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0px; /* Padding of BLUE Nav bar Test */
        background-color: rgba(59, 149, 237, 1); /*DESKTOPVIEW: On Scroll Background Color Change i.e BLUE */
        color: #000;
    }

    .navbar-custom.top-nav-collapse .nav li a:hover {
        outline: 0;
        color: #3b95ed; /* On BLUE nav bar Text Onhover Color */
        background-color: rgba(255, 255, 255, 1); /* On BLUE and On TRANSPARENT Onhover Background Color */
    }
}

/*..................Hamburger................................................................................................................*/

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    width: 24px;
    height: 16px;
    position: relative;
    margin: 1px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    /* border-radius: 9px; */
    opacity: 1;
    /* left: 0; */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 7px;
}

#nav-icon1 span:nth-child(3) {
    top: 14px;
}

#nav-icon1.open span:nth-child(1) {
    top: 6px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: 0px;
}

#nav-icon1.open span:nth-child(3) {
    top: 6px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/* Landing Page =============================================*/
#landing{
    background-color: #424242;
    height: 100vh;
    width: 100%;
}
.landing {
    height: 600px;
    overflow: hidden;
    background: #000;
    background-size: cover;
}

.landing-btn {
    text-align: center;
    padding: 0px auto;
}

.landing-btn h1 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.landing-btn h1 span {
    color: #3b95ed;
}

.animate-bg {
    -webkit-animation: animate-bg 600s linear infinite;
    -o-animation: animate-bg 600s linear infinite;
    animation: animate-bg 600s linear infinite;
    background-repeat: repeat-x;
}

@-webkit-keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -50000px 0;
    }
}

@-moz-keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -50000px 0;
    }
}

@-o-keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -50000px 0;
    }
}

@keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -50000px 0;
    }
}

.btn-primary {
    background-color: #3b95ed;
}

.button {
    position: relative;
    height: 45px;
    width: 200px;
    margin: 10px 7px;
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 0px;
    border: none;
    font-size: 15px;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background-color: #3b95ed;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-out;
    -o-transition: 0.08s ease-out;
    -ms-transition: 0.08s ease-out;
    -moz-transition: 0.08s ease-out;
    -webkit-transition: 0.08s ease-out;
}

.button:hover {
    background-color: #3b95ed;
    color: #fff;
}

/*>>>>>>>>>>>>>>>>>>>>> Testimonial <<<<<<<<<<<<<<<<<<<<<<<<*/
.testimonial {
    background: #333333;
}

.swiper2 {
    font-size: 20px;
    margin: 0px 0px;
}

.swiper2 p {
    font-size: 30px;
    margin-top: -268px;
}

.swiper2 h6 {
    font-size: 10px;
}

.single-testimonial {
    padding: 100px 140px;
    color: #fff;
}

.single-testimonial h1 {
    font-family: 'Alex Brush', cursive;
    margin-top: -127px;
}

@media (max-width: 768px) {
    .single-testimonial {
        padding: 100px 20px;
        color: #fff;
    }

    .single-testimonial p {
        font-size: 14px;
    }
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Services */
.services {
    padding-bottom: 30px;
}

#mobile-padding {
    padding: 50px 0px 20px 0px;
}

#mobile-padding img:nth-child(1) {
    width: 375px;
    height: auto;
}

#web-padding {
    padding: 20px 0px;
}

#web-padding img:nth-child(1) {
    width: 375px;
    height: auto;
}

#desktop-padding {

}

.service-head {
    font-size: 20px;
    letter-spacing: 1.2px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #3b95ed;
}

.service-tag {
    font-size: 10px;
    color: #212121;
    text-align: justify;
    font-weight: bolder;
    letter-spacing: 0.7px;
    word-spacing: 3px;
    text-transform: uppercase;
}

.service-text {
    text-align: justify;
    font-size: 14px;
    font-weight: lighter;
}

.service-icon-pad {
    padding: 0px 5px;
}

/* Experiment Lab =============================================*/
.exp-lab {
    background-image: url(../images/bg9.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* portfolio =============================================*/
.portfolio {
    background-color: #f2f2f2;
    color: #000;
}

/*Year Information*/
.year-information {
    padding: auto 0px;
}

.year-information p {

}

.year-information h3 {
    padding: 10px;
    font-size: 24px;
    font-family: 'Karla', sans-serif;
}

.year-information h3 > span {
    color: #3b95ed;
}

.year-information h5 {
    font-size: 15px;
    padding: 10px;
}

#port-img {
    width: 100%;
}

.caption {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px 3px 3px 0px;
}

/*---------------------------------------------------------------*/
@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 0px auto;
    }
}

.modal-content {
    padding: 10px 0;
    color: #000;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
}

.align-left {
    text-align: left;
}

.modal-content h2 {
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px;
}

.item-details {
    margin: 30px 0;
}

.close-modal {
    position: fixed;
    z-index: 1000;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: #fff;
}

.close-modal:hover {
    opacity: .3;
}

.close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.modal-backdrop {
    display: none;
    opacity: 0.3;
}

.modal-body p {
    text-align: justify;
    padding: 30px 0px;
}

.modal-body h2 {
    text-transform: uppercase;
}

.modal-body p:nth-child(1) {
    text-align: center;
}

/*---------------------------------------------------------------------*/
.flikker {
    padding: 0px 0px 0px 10px;
    margin-top: -40px;
    margin-left: 440px;
    position: absolute;
    font-size: 30px;
    color: #fff;
    animation: myglyphzoom 2s infinite;
}

@media (max-width: 768px) {
    .flikker {
        margin-left: 0px;
    }
}

@-webkit-keyframes myglyphzoom {
    50% {
        font-size: 40px
    }
}

@keyframes myglyphzoom {
    50% {
        font-size: 40px
    }
}

/* Client ===========================================*/
.client{
    background-color: #fdfdfd;
    text-align: center;
}
.client p {
    text-align: center;
    margin-bottom: 20px;
}
.c-logo img{
    padding: 20px 0;
    filter: grayscale(100%);
}
.c-logo img:hover{
    filter: grayscale(0%);
}
#client-pad{
    padding: 7em 0;
}
@media(max-width: 768px){
    #client-pad{
        padding: 2em 0;
    }
}
/*.Team Members =====================================*/
.team-div{
    padding: 0 10px;
}
.team-div img{
    filter: grayscale(100%);
    border-radius: 4px 4px 0px 0px;
}
.team-div img:hover {
    filter: grayscale(0%);
}
.team-div h3 {
    font-size: 13px;
    color: #fff;
    padding: 21px 0;
    background-color: #212121;
    text-align: center;
    margin: 0;
    border-radius: 0px 0px 4px 4px;
}
.team-div img:hover + h3{
    
}

.thumbnail {
    padding: 8px;
}
.thumbnail h5 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.thumbnail p {
    font-size: 11px;
    text-align: justify;
    line-height: 1.3;
}

/* About =============================================*/
#about-text {
    text-align: justify;
    padding-right: 15px;
    padding-left: 15px;
}
#about-text span{
    margin-top: 0; 
    font-size: 20px;
    text-transform: uppercase; 
    font-weight: bold;
}
#about-text span span {
    color: #3b95ed;
}
.ytp-title {
    font-size: 163%;
   display: none !important;
}
@media(max-width: 769px){
    #about-text {
        text-align: justify;
        padding-right: 0;
        padding-left: 0;
    }
    #about-icon{
        padding: 20px 0 !important;
    }
    /*#si-video{
        padding-right: 0 !important;
        padding-left: 0 !important;
        height: 200px !important;
    }*/
}
#about-icon{
    padding-right: 15px;
    padding-left: 15px;
}
.icon-tab{
    width: 13.7%;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    text-align: center;
    color: #3b95ed;
}
.icon-tab p{
    margin-top: 10px;
    font-size: 12px;
}
@media(max-width: 1200px){
    .icon-tab{
        width: 12.7%;
    }
}
.about {
    color: #000;
    padding: 7em 0;
}
#fa-equal{
    transform: rotate(90deg) !important; 
}
.heading{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.bottom-seprator{
    border-bottom: 1px solid rgba(0,0,0,0.3);
    width: 10%;
    margin-left: auto;
    /* text-align: center; */
    /* content: ' '; */
    margin-bottom: 80px;
    margin-right: auto;
}

.team-member {
    padding-top: 60px;
    padding-bottom: 60px;
}

.team-member-content h4 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;

}

.team-member-content {
    padding-left: 10px;
}

.team-member-content h4 > span {
    color: #3b95ed;
}

.card-link p {
    line-height: 10px;
    font-size: 10px;
}

.card-link span {
    font-size: 20px;
    padding-right: 2px;
}

.alumini {

}

.alumni-Modal-left {
    padding: 10px 0px;
}

.alumini-information {
    padding: 0px 10px;
}

.alumini-information h4 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.alumini-information h4 > span {
    color: #3b95ed;
}

.alumini-information p {
    text-align: justify;
}

.img-family {
    padding: 0px;
    overflow: hidden;
}

.img-family:hover + .img-family {
    opacity: 0.5;
}

/*.img-family:hover{
  opacity: 1;
  }*/
#map {
    width: 100%;
    height: 300px;
}

.contact {
    background: #e4e4e4;
}

.heading_header {
    font-weight: bold;
    letter-spacing: 2.5px;
}

.footer {

    padding: 30px 0px;
    color: #000;
    font-size: 12px;
}

.footer h2 {
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Karla', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.43;
    font-weight: 100;
    margin-bottom: 0px;
}

.footer button {
    font-family: 'Karla', sans-serif;
    font-size: 11px;
    line-height: 1.43;
    letter-spacing: 0.4px;
    font-weight: 100;
}

.u-btn {
    border-radius: 4px;
    padding: 3px;
    font-size: 11px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(29, 29, 29);
    color: #ffffff;
    border: none;
    margin: 3px 1px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #3b95ed;
    border-color: #1eb2f3;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

#hover {
    display: none;
}

#image:hover + #hover {
    display: block;
}

/*......................................*/

/*..............................................................................*/
.user-col-7 {
    position: relative;
    min-height: 1px;
    width: 14.28%;
    padding: 1px;
    float: left;
}

@media (max-width: 768px) {

    #about-sign {
        padding: 10px;
        color: #fff;
    }
}

#about-svg-text {
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 10px 0px 0px 0px;
    letter-spacing: 1px;
}

@media (max-width: 768px) {
    #about-svg-text {
        visibility: hidden;
    }
}

/*#video {
    padding: 0px;
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    #video {
        padding: 10px 0px 0px 0px;
    }
}
*/
/*#si-video{
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    height: 315px;
}*/
#video-btn{
    overflow: hidden;
}
video {
    position: inherit;
    /* top: 0%; */
    /* left: 0%; */
    min-width: 100%;
    border-radius: 4px;
    /* min-height: 100%; */
    /* width: auto; */
    height: 330px;
    z-index: 100;
    transition: 1s opacity;
}
.carousel-control.left {
    background: 0 0;
}

.carousel-control.right {
    background: 0 0;
}

.carousel-control:hover,
.carousel-control:focus {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: 1;
}

/*..............................................................................*/
.card-role {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 25px;
    width: 90px;
    padding: 0 10px;
    color: #FFF;
    font-size: 11px;
    line-height: 25px;
    text-transform: uppercase;
    background-color: #3b95ed;
    text-align: center;
}

@media (max-width: 1200px) {
    .card-role {
        top: 10px;
        left: 10px;
    }
}

.card {
    overflow: hidden;
    width: 100%;
    background-color: #212121;
}

.card-image {
    height: 140px;
    overflow: hidden;
    background-color: #000;
    transition: height 0.3s;
}

.card-image img {
    display: block;
    opacity: 1;
    transition: opacity 0.3s,
    -webkit-transform 0.3s;
    /*transform 0.3s;*/
    -webkit-transform: scale(1);
    transform: scale(1);
}

.card:hover .card-image img {
    opacity: 0.7;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.card:hover .card-image {
    height: 80px;
}

.card-body {
    padding: 15px;
    height: 60px;
    transition: height 0.3s;
    width: 99.0%;
}

.card:hover .card-body {
    height: 120px;
}

.card-name {
    margin: 0;
    padding: 7px 0px;
    font-size: 12px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.card-link {
    position: absolute;
    left: 29px;
    right: 21px;
    bottom: 20px;
    margin: 0;
    padding: 0px 0px 10px 0px;
    color: #fff;
    font-size: 10px;
    line-height: 20px;
    opacity: 0;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    -webkit-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
}

@media (max-width: 991px) {
    .card-link {
        left: 30px;
        right: 20px;
        bottom: 10px;
    }
}

.card:hover .card-link {
    opacity: 1;
    transition-delay: 0.1s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

/*.........................................................................*/
/*..................................................................................*/

/*..................................................................................*/
.team-three-desktop {
    display: block;
}

.team-three-mobile {
    display: none;
}

@media (max-width: 1200px) {
    .team-three-desktop {
        display: none;
    }

    .team-three-mobile {
        display: block;
    }
}

.team-responsive {
    padding: 15px;
}

@media (max-width: 1200px) {
    .team-responsive {
        padding: 10px;
    }
}

@media (max-width: 991px) {
    .team-responsive {
        width: 33.33332%;
        float: left;
        box-sizing: border-box;
        display: block;
    }
}

@media (max-width: 600px) {
    .team-responsive {
        width: 50%;
        float: left;
        box-sizing: border-box;
        display: block;
    }
}

/* Contact =============================================*/

.contact .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #e4e4e4;
    background-image: none;
    border: 0px solid #ccc;
    border-bottom: 1px solid #ccc;
     border-radius: 0px; 
     -webkit-box-shadow: none; 
     box-shadow: none; 
    /* -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    /* transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
}
.contact .button {
    position: relative;
    height: 45px;
    width: 100%;
     margin: 10px 0px; 
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 0px;
    border: none;
    font-size: 15px;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background-color: #3b95ed;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-out;
    -o-transition: 0.08s ease-out;
    -ms-transition: 0.08s ease-out;
    -moz-transition: 0.08s ease-out;
    -webkit-transition: 0.08s ease-out;
}
.btn-contact {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* Google Map */

.button-c {
    position: relative;
    height: 45px;
    width: 100%;
    padding: 10px 0px;
    font-weight: 700;
    border-radius: 0px;
    border: none;
    font-size: 15px;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background-color: #3b95ed;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-out;
    -o-transition: 0.08s ease-out;
    -ms-transition: 0.08s ease-out;
    -moz-transition: 0.08s ease-out;
    -webkit-transition: 0.08s ease-out;
}

.fill-c:hover {
    color: #3b95ed;
}

.fill-c:after {
    color: white;
}

.fill-c:before {
    content: "";
    position: absolute;
    background: #fff;
    bottom: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    -webkit-transition: bottom 0.2s ease-out;
}

.fill-c:hover:before {
    bottom: 0;
}

.social-a a {
    color: #fff;
    text-decoration: none;
}

.social-a:hover {
    color: #000;
}

#contact-bar-icon {
    font-size: 25px;
    color: #3b95ed;
}

#contact-bar-text {
    font-size: 12px;
    color: #3b95ed;
}

.contact-modal {
    padding: 15px 90px 15px 90px;
}

.modal-contact-left {
    text-align: left;
    padding: 10px 0;
}

.u_col-sec-2 {
    position: relative;
    min-height: 1px;
    padding: 2px;
    float: left;
    width: 16.66%;
}

/*FOOTOR*/

.user-col-social_icon a {
    position: relative;
    min-height: 1px;
    padding: 2px;
}


.portfolio_modal {
    width: 1155px;
    height: 100%;
    min-width: 600px;
    margin: 0px auto;
}

.user-col-social_icon a:hover {
    color: #3b95ed;
}

@media (max-width: 786px) {
    .user-col-social_icon {
        text-align: center;
        width: 71%;
    }
}

.social-icon span {
    padding: 30px 20px;
    color: #fff;
}

#footor-bottom {
    background-color: #212121;
}
#footor-bottom span{
    color: #808080; 
    font-size: 12px;
}
#footor-bottom p {
    padding: 25px 0;
}

@media (max-width: 768px) {
    #footor-bottom {
        text-align: center;
    }
}

/*Swiper*/

.swiper-container {
    width: 100%;
    height: auto;
    margin: 20px auto;
}

.swiper1 {
    color: #000;
}

.swiper3 {
    color: #fff;
}

.swiper-slide {
    margin: 5px 0;
    text-align: center;
}

.swiper-slide img {
    display: block;
}

.swiper-slide h1 {
    font-size: 70px;
}

.swiper-pagination-bullet {
    background: #000;
    opacity: 0.3;
}

/*............................................................................*/

/*Loader */
.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loader.gif) center no-repeat #fefcfe;
    background-size: 20%;
}

/*edits*/
.port_buttons {
    text-align: center;
}

.social {
    font-size: 12px;
    font-weight: 600;
}

.social_text {
    font-size: 10px;
    letter-spacing: 1.3px;
}

.portfolio_modal {
    width: 1072px;
    height: 100%;
    min-width: 600px;
    margin: 0 auto;
}

/*portfolio hover*/
.demo-2 {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
    list-style: none;
    background-color: rgba(26, 76, 110, 0.5)
}

.demo-2 p, .demo-2 h2 {
    color: #fff;
    padding: 10px;
    left: -20px;
    top: 20px;
    position: relative
}

.demo-2 p {
    font-family: 'Lato';
    font-size: 12px;
    line-height: 18px;
    margin: 0
}

.demo-2 h2 {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    font-family: 'Lato'
}

.effect img {
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
    margin: -12px 0;
    -webkit-transition: bottom .3s ease-in-out;
    -moz-transition: bottom .3s ease-in-out;
    -o-transition: bottom .3s ease-in-out;
    transition: bottom .3s ease-in-out
}

.effect img.top:hover {
    bottom: -96px;
    padding-top: 100px
}

h2.zero, p.zero {
    margin: 0;
    padding: 0
}

/*for portfolio padding etc*/
.spacerx {
    padding: 30px 30px 0px 30px;
}

.spacerx1 {
    padding: 3% 0 3% 0;
}

.envelope {
    padding-left: 50px;
}

.envelope:hover {
    cursor: pointer;
}

.typed-cursor {
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.type-wrap {
    display: inline-block;
    color: #3b95ed;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.believe {
    display: inline-block;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;

}

.typedwrap {
    padding: 1px;
}

.typedjs {
    padding: 3%;
    /* text-align: center; */
    margin: 0 auto;
    position: relative;
    left: 28%;
}

/*landing page*/
/* Bounce In */
.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.hvr-bounce-in:hover
.circular {
    -webkit-box-shadow: 0px -3px 35px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px -3px 35px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px -3px 45px 0px rgba(0, 0, 0, 0.5);
}

/*svg logo*/

.inner {
    height: 60px;
    width: 60px;
    position: absolute;
}

.logo {
    height: 60px;
    content: url(../images/si-text.svg);
}

.logo_container {
    padding: 5px;
    left: 7px;
    position: relative;
    padding-top: 14px;
}

.text {
    margin-top: -9px;
    height: 80px;
    content: url(../images/si-logo.svg);

}

/*buzz hover*/
/* Buzz */
@-webkit-keyframes hvr-buzz {
    0%, 20%, 80%, 100% {
        -webkit-transform: translateX(0px) rotate(0deg);
        transform: translateX(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

@keyframes hvr-buzz {
    0%, 20%, 80%, 100% {
        -webkit-transform: translateX(0px) rotate(0deg);
        transform: translateX(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

.hvr-buzz :hover, .hvr-buzz:focus, .hvr-buzz:active {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;

}

.hvr-buzz {
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.registration_trigger {
    position: fixed;
    z-index: 9991;
    right: 20px;
    top: 80px;
    background-color: #e4e4e4;
    padding: 10px;
    border-radius: 200px;
    -webkit-box-shadow: -2px -3px 25px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -2px -3px 25px 0px rgba(0, 0, 0, 0.5);
    box-shadow: -2px -3px 25px 0px rgba(0, 0, 0, 0.5);

}

.circular {
    background-color: #303030;
    -webkit-box-shadow: -2px -3px 25px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -2px -3px 25px 0px rgba(0, 0, 0, 0.5);
    box-shadow: -2px -3px 25px 0px rgba(0, 0, 0, 0.5);
}

.size1 {
    height: 100px;
    border: 3px solid #3b95ed;
    width: 100px;
    z-index: 999;
    top: 29%;
    left: 29%;
    background-color: #ffffff;

}

.size2 {
    padding: 50px !important;
}

.size3 {
    padding: 80px !important;
}

.size4 {
    padding: 120px !important;
}

.size5 {
    padding: 160px !important;
}

.size6 {
    padding: 200px;
}

.size7 {
    /*width:100% !important;*/
    /*height:100% !important;*/
    padding: 210px !important;
    position: relative;
    top: -370px;
    /*top:100px !important;*/
}

.popup-item {
    display: inline-block;
    border-radius: 1000px;
    padding: 100px;
}

.container1 {
    /*background: ;*/
    height: 600px;
    overflow: hidden;
    text-align: center;
    position: relative;
    transition: ease-in;
        background: url('../images/landing.png') center 25px no-repeat #303030;
}

.size1 {
    padding: 5px;
    border: 3px solid #3b95ed;
    border-radius: 500px;
    z-index: 999;
    background-color: #ffffff;
    background-size: 80px;
}

@media (max-width: 768px) {

    .size7 {
        position: relative;
        top: -475px;
        left: -520px;
    }
}

@media (max-width: 768px) {
    .container1 {
        height: 350px;

    }

    .typedjs {
        left: 8px;
        padding-top: 30px;
    }

    .believe {
        font-size: 13px !important;
    }

    .type-wrap {
        font-size: 13px;
    }

    .heading_header {
        font-size: 15px;
        letter-spacing: 1.5px;
    }

    .iphone {
        margin-left: 50px;
    }

    .service-icon-pad {
        display: none;
    }

    .mobile_heading {
        padding-left: 35px;
    }

    .about-para-1 {
        padding: 35px;
    }

    .hides_equation {
        display: none;
    }

    .envelope {
        padding: 0;
        position: relative;
        left: -20px;

    }

    .container1 {
        height: 350px !important;
    }

    .size7 {
        display: none !important;
    }
}
#team-member{
    padding: 4em 0;
    background-color: #efefef;
}
#team-head{
    text-align: center;
    /* padding-top: 4em; */
}
#team-head h1{
    color: #000;
    font-size: 30px;
    margin: 0;
}
#team-head h1 span{
    color: #3b95ed;
}
#team-head h6{
    color: #3b95ed;
    margin-top: 2px;
}
#team-head p{
    font-size: 12px;
    color: #777777;
}
#team-member .row{
    margin-top: 4em;
}




/*Alumini ===========================*/
#alumni{
    padding: 4em 0;
    background-color: #fff;
}
#alumni-head{
    text-align: center;
    /* padding-top: 4em; */
}
#alumni-head h1{
    color: #000;
    font-size: 30px;
    margin: 0;
}
#alumni-head h1 span{
    color: #3b95ed;
}
#alumni-head h6{
    color: #3b95ed;
    margin-top: 2px;
}
#alumni-head p{
    font-size: 12px;
    color: #777777;
}
.snackbar {
    position: absolute;
    bottom: -33px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    /*top: 86%;*/
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;        z-index:99999999;

}
.pad-off{
    padding-left: 0px;
    padding-right: 0px;
}
@media (max-width: 768px) {
    .snackbar{
        /*top:80%;*/
        /*bottom:550px;*/
        padding: 5px;
        z-index:99999999;
        width: 100%;
        overflow:auto;
    }
    #client-pad .col-xs-6{
        padding-right: 5px;
        padding-left: 5px;
    }
}
#testimonial-head{
    text-align: center;
    padding-top: 4em;
}
#testimonial-head h1{
    color: #000;
    font-size: 30px;
    margin: 0;
}
#testimonial-head h6{
    color: #3b95ed;
    margin-top: 2px;
}
#testimonial-head p{
    font-size: 12px;
    color: #777777;
}
.validationerror {
    color: red;
}
/*Testimonial Carosol*/
#quote-carousel {
    padding: 40px 10px 30px 10px;
    margin: 30px 0;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 140px;
}
#quote-carousel .carousel-control.left {
    left: -60px;
    color:#424242;
}
#quote-carousel .carousel-control.right {
    right: -60px;
    color: #424242;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 0px;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
    vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
    background: transparent;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-color: #3b95ed;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 250px;
}
@media(max-width: 991px){
    .carousel-inner {
        min-height: 300px;
    }
    #quote-carousel .carousel-control.left {
        left: 0px;
        color: #424242;
    }
    #quote-carousel .carousel-control.right {
        right: 0px;
        color: #424242;
    }
}

@media(max-width: 415px) {
    .carousel-inner {
        min-height: 360px;
    }
}
@media(max-width:509px){
    #quote-carousel .carousel-indicators {
        right: 0;
        top: auto;
        bottom: 0px;
        margin-right: 0;
    }

    .carousel-indicators {
        position: absolute;
        bottom: 0;
        left: 0% !important;
        z-index: 15;
        width: 100%;
        padding-left: 0;
        margin-left: 0%;
        text-align: center;
        list-style: none;
    }
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}


/*Testimonal==================*/
.img-responsive-slider{
    max-height: 100%;
    width: auto;
    display: block;
}