body
{
  background-color: white;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif !important;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}
#main_container
{
  background-color: white;
}
/* #second_container
{
  height: 100vh;
} */
li {
list-style: none; 
}
.poster_image,.poster_image_small
{
  background-color: white;
}
.poster_image_small
{
  z-index: 1;
}
.student_details
{
  background-color: white;
}

#Branch,#Year,#gender,#domain

{
  border:None;
  border-bottom: 1px solid #e0e0e0;
}

.beInCenter
{
  height: 100vh;
}
.validationerror
{
  color: #f44336;
  margin-left: 3rem;
  text-shadow: 2px 2px 20px #eee;
}
.toggle--knob .toggle--btn {
  position: relative;
  width: 120px;
  height: 40px;
  background: none;
}
.toggle--knob .toggle--btn:before {
  display: block;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #f1f1f1;
  box-shadow: 0 4px 10px 0 #999, inset 0 10px 10px 8px rgba(241, 241, 241, 0.6), inset 0 0 8px 0px #333, inset 0 0 0 13px #ccc, inset 0 0 0 14px #f1f1f1;
  text-indent: -100%;
}
.toggle--knob .toggle--feature {
  position: relative;
  display: block;
  overflow: hidden;
  height: 40px;
  text-shadow: 0 1px 2px #666;
}
.toggle--knob .toggle--feature:before, .toggle--knob .toggle--feature:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.toggle--knob .toggle--feature:before {
  content: attr(data-label-on);
  left: 20%;
}
.toggle--knob .toggle--feature:after {
  content: attr(data-label-off);
  right: -60%;
}
.toggle--knob .toggle--checkbox:checked + .toggle--btn {
  background: #a2a2a2;
  box-shadow: inset 0 20px 40px -10px #7e7e7e;
}
.toggle--knob .toggle--checkbox:checked + .toggle--btn:before {
  left: 0;
}
.toggle--knob .toggle--checkbox:checked + .toggle--btn .toggle--feature:before {
  left: -60%;
}
.toggle--knob .toggle--checkbox:checked + .toggle--btn .toggle--feature:after {
  right: 20%;
}


.md-form textarea.md-textarea{
  padding:0 0 !important;
  padding-bottom:8px !important;
  padding-top:8px !important;
}

.md-form .prefix~label {
  margin-left: 2.6rem;
}

.validationErrorSpacing{
  display:none;
}

@media(max-width:1085px){
  .spacing_long_text_1{
    margin-top:1.5rem;
  }
  .textarea_label.active{
    transform: translateY(-100%) !important;
  }
}


@media (max-width:992px)
{
  .student_details
  {
    margin-top: 3rem;
    margin-bottom: 2rem
  }
  .poster_image {
    margin-top: 1rem;
  }

}
.btn-floating i {
    font-size: 1.625rem;
    line-height: 61.1px;
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
}

/***** navbar ***/
.topnav {
  font-family: 'Montserrat', sans-serif !important;
  overflow: hidden;
  background-color: #0094ff;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #fff;
  color: black;
}
.success-modal {
  margin:0;
  width: 45%;
  display: block;
  margin: 5px auto;
}
.topnav img {
  float: left;
  padding: 14px 16px;
  max-width: 55px;
}

@media(max-width: 767px){
  .spacing_long_text_1{
    margin-top:2.5rem;
  }
}


@media(max-width: 576px) {
  .contactus-modal {
      margin:0;
      width: 85%;
      display: block;
      margin: 5px auto;
  }
  .md-form textarea.md-textarea{
    padding:1.5rem 0 !important;
    padding-top:8px !important;
  }
}
@media(max-height: 575px){ 
  #rc-imageselect, .g-recaptcha {
      transform:scale(0.75);
      -webkit-transform:scale(0.75);
      transform-origin:0 0;
      -webkit-transform-origin:0 0;
  } 
}

@media(max-width:559px){
  .long_text_label_tools{
    top:-1rem !important;
  }
  .long_text_label_tools.active{
    transform:translateY(-50%) !important;
  }
}


@media(max-width:468px){
  .spacing_long_text_1{
    margin-top:3rem;
  }
  .spacing_long_text_2{
    margin-top:3rem;
  }
  .spacing_long_text_3{
    margin-top:3rem;
  }
  .md-form textarea.md-textarea{
    padding:2rem 0 !important;
    padding-top:0.5rem !important;
  }
  .spacing_long_text_5{
    margin-top:2rem;
  }
  .validationErrorSpacing{
    display:block;
    margin-top:1rem;
  }
  .long_text_label,.long_text_label_tools{
    top:-1rem !important;
  }
  .g-recaptcha {
    transform:scale(0.77);
    transform-origin:0 0;
  }

} 

@media(max-width:400px){

  .spacing_long_text_1{
    margin-top:5rem;
  }
  .spacing_long_text_4{
    margin-top:2.5rem;
    margin-bottom:2.5rem;
  }
  .spacing_long_text_5{
    margin-top:3rem;
  }
  .validationErrorSpacing{
    display:block;
    margin-top:2rem;
  }
  .textarea_label{
    top:-1rem !important;
  }
  .textarea_label.active{
    transform: translateY(-100%) !important;
  }
  .long_text_label.active{
    transform:translateY(-50%) !important;
  }

} 
@media(max-width:353px){
  .spacing_long_text_1{
    margin-top:6.2rem;
  }
  .textarea_label{
    top:-1.9rem !important;
  }
  .textarea_label.active{
    transform: translateY(-90%) !important;
  }
  .spacing_long_text_5{
    margin-top:4rem;
  }
  .long_text_label_tools{
    top:-2rem !important;
  }
  .spacing_long_text_2{
    margin-top:4rem;
  }
  
}