/**** genral ****/

body {
    font-family: 'Montserrat', sans-serif;
}

/***** navbar ***/
.topnav {
    font-family: 'Montserrat', sans-serif !important;
    overflow: hidden;
    background-color: #0094ff;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #fff;
    color: black;
}
.topnav img {
    float: left;
    padding: 14px 16px;
    max-width: 55px;
}
  /* p {
    
  } */
  .parallax-text {
      position: absolute;
      top: 50vh;
      left:30vw;
      color:#fff;
  }
  .parallax {
    /* The image used */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://lh4.googleusercontent.com/QQR_fIDH5ANG3ZjMCu6JX0QvF_B4do4Ap7iwPMYuumWrV6Mou0hSWkORKbREr9CPUo0qsj1TlEPEJUAzLX9p672AZ2w4fRdJ-cQRysl289dXt3bhCcHeik31-6muaKxCMWE_RyM');
    /* Full height */
    height: 50vh; 


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/******** blogs **********/
.title {
    font-size: 1.5rem;
}
.blog {
  background-color: #fafafa;
  box-shadow: 5px 5px 50px #949393;
  color: #525252;
  transition: all 0.5s;
}
.blog:hover {
  transform: scale(1.05);
    box-shadow: 0 0 30px #949393;
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: 1rem;
    }
}
/* .blog > div > p > img {
  width:auto !important;
    height:auto !important;
    width: 100% !important;
}
p {
  display: none;
}
p:first-child {
  display: block;
}
p:nth-child(2){
  display: block;
  position: relative;
    margin: 1rem 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
} */